#directories to ignore
examples
extras
logs
__pycache__/*
dsrc/static/img/thumbnails
dsrc/forms/__pycache__/*
dsrc/__pycache__/*
dsrc/models/__pycache__/*
dsrc/utils/__pycache__/*

# secret stuff
bin/docker.sh
etc/Disparu.sh
dsrc/disparu_common.py
