{% extends "layout.html" %}

{% block body %}

<body>
 <h1> Welcome to Disparu!</h1>
 <p>We are conducting a search for failed supernovae, the literal dispappearance of a massive star upon collapse into a black hole, with the Hubble Space Telescope. 
 We obtained a set of new HST/ACS images over 41 orbits of a sample of nearby galaxies with decades of archival coverage to search for these dissapearing stars.</p>
 
 <p>Our Team:
 <b>Jacob Jencson</b> (Science and development lead),
 <b>David Sand</b> (Program PI),
 <b>Phil Daly</b> (Technical Support),
 <b>Nathan Smith</b> (Science Team),
 <b>Jennifer Andrews</b> (Science Team),
 <b>Jeniveve Pearson</b> (Science Team),
 <b>Jay Strader</b> (Science Team),
 <b>Stefano Valenti</b> (Science Team)</p>
</body>


{% endblock %}
